@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "./reset.scss";
@import "./columns.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./base.scss";
@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/brands.scss";
@import "./components/products.scss";
@import "./components/rating.scss";
@import "./components/work.scss";
@import "./components/free-trial.scss";
@import "./components/footer.scss";

@import "./media/index.scss";